@tailwind base;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}

@tailwind components;

@tailwind utilities;

body > #zmmtg-root {
  display: none !important;
}

#zmmtg-root, .meeting-client, .meeting-client-inner {
  width: 100% !important;
  height: 80vh !important;
  position: relative !important;
}

#wc-footer {
  bottom: auto !important;
  width: 100% !important;
}

#dialog-join {
  width: 100% !important;
}

#sv-active-video, .active-main, #sv-active-speaker-view, .main-layout {
  height: 100% !important;
  width: 100% !important;
}

.suspension-window {
  transform: translate(-444px, 10px) !important;
}