@tailwind base;


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-size: 16px;
}

body {
  overflow-x: hidden;
}

a {
  @apply text-primary;
}
a:hover {
  @apply text-primary-darker;
}


@tailwind components;

@tailwind utilities;
